@{
    ViewBag.Title = "Welcome to Simple To Do List";
}
@section featured {
    <div class="jumbotron">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>This app was created as a hands-on project to learn ASP.NET MVC framework together with some jQuery, ADO.NET, Entity Framework and Bootstrap CSS. </h2>
            </hgroup>
            <p>
                Basic Features: 
                <ul>
                    <li>
                        Create, edit and delete your tasks
                    </li> 
                    <li>
                        Set due date
                    </li>
                    <li>
                        Filter tasks by due date and week, month or by current day
                    </li>
                 </ul>
            </p>
        </div>
    </div>
}


